@import "tailwindcss";

:root {
    --background: #e9e9e9;
    --foreground: #1e1e1e;
    --primary: #f55c44
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Georgia, sans-serif;
    scroll-behavior: smooth;
}
